.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button {
    outline: none;
    margin-left: 20px;
    margin-right: 4px;
    position: relative;
    top: 10px
}

.toggle-button__line {
    width: 30px;
    height: 3px;
    background: white;
    /* border-radius: 20%; */
}