.item_item-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.item_item-card button:hover {
  opacity: 0.7;
}

.item_item-image img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.App-Header {
  text-align: left;
  font-size: 50px;
  font-family: "Arial", Times, serif;
  padding-top: 70px;
  margin-left: 20px;
  font: 80px Blacker, arial, sans-serif;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  color: #023e8a;
}

.Projects-header {
  text-align: left;
  margin-left: 20px;
  font-size: 30px;
  color: #023e8a;
}

.Projects-Header {
  text-align: center;
}

.intro-to-me {
  text-align: left;
  margin-left: 20px;
  font-family: 'Calibre Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.intro-to-me.two {
  font-weight: 200;
}

.about {
  /* font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  padding-left: 0px;
  margin-left: 20px;
  font-weight: 350; */
  text-align: left;
  margin-left: 20px;
  font-family: 'Calibre Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 30%; */
  width: 50%;
  /* height: 200px; */
  height: 150px;
}

.Project-Card {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 30px 5px;
  margin-top: 20px;
}

.App {
  background-image: linear-gradient(#34d0f0, #d4eef3);
}

.contact-information p a {
  text-align: left;
  margin-left: 30px;
  font-family: 'Calibre Web', sans-serif;
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
  color: #0077b6;
}

.contact-information a {
  display: inline-block;
}

.contact-information p a:hover {
  color: blue;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.skills-list {
  padding-left: 0px;
  margin-left: 20px;
  list-style-type: none;
}

.app-name {
  color: #03045e;
  background-color: white;
}

.about-project, .about-project-2 {
  background-color: white;
  /* display: block; */
}

.txt-box {
  background-color: white;
}

@media screen and (min-width: 720px) {
  .contact-information {
    text-align: center;
  }
  .Projects-header {
    text-align: center;
  }
  .about {
    /* text-align: center;
    max-width: 600px; */
    /* margin: 0px; */
    padding-bottom: 10px;
    /* max-width: 699px; */
    text-align: right;
    margin: 0;
    font-size: 20px;
    /* margin-left: 520px; */
  }
  .App-Header {
    text-align: center;
  }
  .intro-to-me {
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
  }
  .intro-to-me.two {
    /* text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    max-width: 700px; */
    font-size: 1.1rem;
    font-weight: 350;
  }
  .skills-list {
    margin: 0px;
    text-align: center;
  }
  .card {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  }
  .txt-box {
    background-color: white;
    /* object-fit: cover; */
    /* display: flex;
    width: 1000px; */
    /* height: 100px; */
    /* width: 20vw;
    height: 15vw; */
    /* text-align: center; */
    float: left;
    width: 700px;
    height: 170px;
  }
  img .project-image-header {
    /* width: 400px; */
    float: left;
    /* height: 300px; */
    margin-right: 90px;
    max-width: none;
    max-height: none;
    /* justify-content: right; */
    /* margin-left: 10px; */
  }
  .item_item-card {
    box-shadow: none;
  }
  .card {
    display: flex;
  }
  /* .app-name {
    display: inline-block;
  } */
  .item_item-card {
    max-width: none;
    min-width: 200px;
    margin-top: 30px;
  }
  .item_item-image img {
    max-width: none;
    max-height: none;
    width: 700px;
    height: 500px;
  }
  .app-name {
    margin-top: 20px;
  }
}