.item_item-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.item_item-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.item_item-card button:hover {
  opacity: 0.7;
}

.item_item-image img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.App-Header {
  text-align: left;
  font-size: 50px;
  font-family: "Arial", Times, serif;
  padding-top: 70px;
  margin-left: 20px;
  font: 80px Blacker, arial, sans-serif;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
}

.Projects-header {
  text-align: left;
  margin-left: 20px;
  font-size: 30px;
}

.Project-Header {
  text-align: center;
}

.intro-to-me {
  text-align: left;
  margin-left: 20px;
  font-family: 'Calibre Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.about {
  /* text-align: left;
  width: 60%;
  padding-left: 65px; */
  /* text-align: center; */
  /* width: 90%; */
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  /* width: 260px; */
  /* float: right; */
  padding-left: 0px;
  margin-left: 20px;
  font-weight: 350;
}

.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 30%; */
  width: 50%;
  /* height: 200px; */
  height: 150px;
}

.Project-Card {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 30px 5px;
  margin-top: 20px;
}

.App {
  background-color: rgb(238, 235, 235);
}

.contact-information p a {
  text-align: left;
  margin-left: 30px;
  font-family: 'Calibre Web', sans-serif;
  font-size: 1.2rem;
  list-style: none;
  text-decoration: none;
  color: black;
}

.contact-information a {
  display: inline-block;
}

.contact-information p a:hover {
  color: blue;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

@media screen and (min-width: 720px) {
  .contact-information {
    text-align: center;
  }
  .Projects-header {
    text-align: center;
  }
  .about {
    text-align: center;
    margin: 0px;
  }
  .App-Header {
    text-align: center;
  }
  .intro-to-me {
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
  }
}